@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font1{
  font-family: "Noto Serif", serif;
}
.font2{
  font-family: "Inter", sans-serif;
}
.bold{
    font-weight: bold;
}
.color1{
    color: rgba(37, 36, 50, 1)
}
.color2{
 color:  rgba(137, 135, 161, 1)
}
.color3{
    color: rgba(233, 90, 8, 1);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.center{
    align-items: center;
}
.all{
     max-width: 1140px;
    margin: 0 auto;
}
.btn{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(233, 90, 8, 1);
    padding: 26px 50px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
/* header section start */

.nav-bar{
    margin-top: 20px;
    justify-content: space-between;
}
.nav-list{
    gap: 48px;
    list-style: none;
}
.nav-list a{
    text-decoration: none;
    
}
.header-container{
    justify-content: space-between;
    align-items: end;
    margin-top: 120px;
}
.header-text{
    max-width: 570px;
}
.header-img img{
    max-width: 100%;
}
.header-content{
    font-size: 22px;
    padding-bottom: 0%;
}
.header-text-title{
    font-size: 65px;
    color: rgba(0, 0, 0, 1);
}
.nav-cart{
    gap: 10px;
}
.nav-cart img{
    width: 30px;
}
.nav-menu{
    gap: 48px;
}

/* main section start */
.body{
    
}
.flower-container{
    margin-top: 140px;
    text-align: center;
}
.flower-content-title{
    font-size: 50px;
}
.flower-paragraph{
    margin: 0 auto;
    font-size: 22px;
    max-width: 888px;
}
.flower-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.flower-card{
    margin-top: 30px;
    max-width: 270px;
}
.card-data{
    margin-top: 20px;
    gap: 10px;
    flex-direction: column;
}
.flower-name{
    font-size: 22px;
    font-weight: 500;
}
.flower-price{
   font-size: 22px;
    font-weight: 700;

}
.store-container{
    justify-content: center;
    margin-top: 150px;
}
.store-img-container{
    justify-content: space-between;
    align-items: center;
}
.store-img .store{
    max-width: 100%;
}
.store-img{
    position: relative;
}
.badge{
    max-width: 40%;
    position: absolute;
    top: -13%;
    right: -13%;
}
.store-content{
    flex-direction: column;
    gap: 20px;
    max-width: 540px;
}
.store-para{
    font-size: 22px;
    font-weight: 400;
}
.store-para-list{
    flex-direction: column;
    gap: 20px;
    padding: 0px 30px;
}
.store-content-title{
    font-size: 50px;
}

/* letest deal section start */
.deal-container{
    margin-top: 178px;
}
.deal-content{
    text-align: center;
}
.deal-content-title{
    font-size: 50px;
}
.deal-description{
    font-size: 22px;
    max-width: 888px;
    margin: 0px auto;
}
.deal-img-container{
    margin-top: 120px;
    gap: 28px;
    position: relative;
    text-align: center;
    color: white;
}
.deal-img-container img{
    border-radius: 20px;
}
.deal-img-small{
    flex-direction: column;
    gap: 24px;
}
.deal-img-1{
    background-image: url(assets/deal-ana.png);
  font-weight: bold;
}
.deal-img-1 a{
   font-size: 16px;
}
.deal-img-2{
    background-image: url(assets/deal-bloom.png);
  font-weight: bold;
}
.deal-img-2 a{
    font-size: 16px;
}
.deal-img-3{
    background-image: url(assets/deal-zabo.png);
   font-weight: bold;
  font-size: 38px;
  max-width: 100%; 
}
.deal-img-3 a{
   font-size: 28px;
}
.deal-img-small{
    flex-direction: column;
    flex: 1;
}
.deal-img-big{
    flex: 2;
}